@{
    ViewBag.Title = "CommandCenter";
    Layout = "~/Views/_Layouts/AlmightyLayout.cshtml";
}

<div class="summary">
    등록된 제품
</div>
<div class="summary">
    새로운 글
</div>
<div class="summary">
    견적서 요청
</div>