@{
    ViewBag.Title = "ManageMenu";
    Layout = "~/Views/_Layouts/AlmightyLayout.cshtml";
}

<h2>ManageMenu</h2>

<div id="menus-view">
    <ul id="main-menus">

    </ul>
</div>
<div id="menu-parent-form">
    <p><span class="txt_label">메뉴이름</span><input type="text" name="menuName" id="menu-name" class="txt_box" /></p>
    <p><span class="txt_label">메뉴코드</span><input type="text" name="menuCode" id="menu-code" class="txt_box" /></p>
    <p><span class="txt_label">부모메뉴</span><input type="text" name="menuName" id="parent-name" class="txt_box" /></p>
    <p><span class="txt_label">URL</span><input type="text" name="menuName" id="menu-url" class="txt_box" /></p>
    <p><span class="txt_label">권한</span><input type="text" name="menuName" id="menu-role" class="txt_box" /></p>
    <p><span class="txt_label">사용여부</span><input type="text" name="menuName" id="menu-enable" class="txt_box" /></p>
    <p><input type="button" class="btn_group" value="하위메뉴 추가" /></p>
</div>
