/* 초기화 */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}

/* 요소자리잡기 */
#container {
    font-size: 12px;
}
#top-navi {
    height: 90px;
    background-color: #009EDF;
}
#mid-navi {
    height: 25px;
    background-color: black;
}
#mid-navi > span{
    width: 15%;
    display: inline-block;
    color: white;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
}
#mid-navi > span:nth-child(2) {
    width: 100px;
    background-color: #ccc;
}

#wrapper {
    width: 100%;
    position: relative;
}
#side-navi {
    float: left;
    width: 15%;
    height: 100%;
    min-height: 800px;
    position: absolute;
    font-size: 15px;
    background-color: #ccc;
}
#contents {
    margin-left: 16%;
    padding-top: 20px;
    width: auto;
    height: 100%;
    min-height: 800px;
}
#side-menus {
    padding: 5px;
    line-height: 35px;
    list-style: none;
    text-align: center;
    background-color: #ccc;
}
.side_menu {
    border-bottom: 1px solid white;
}
.side_menu:hover {
    background-color: #ececec;
}
.side_menu:nth-child(1){
    border-top: 1px solid white;
}
#footer {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    background-color: black;
}

/* 그 외 */
a, a:visited {
    color: black;
    text-decoration: none;
}

.summary {
    margin: 10px;
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
}

/* 메뉴관리 화면 */
.tbl_menus_list {
    margin: 10px 30px;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
}
.tbl_menus_list tr {
    border-bottom: 1px solid #ccc;
}
.tbl_menus_list tr:nth-child(1) {
    border-bottom: 2px solid #ccc;
}
.tbl_menus_list tr:hover {
    background-color: #f0f0f0;
}
.tbl_menus_list th {
    height: 40px;
    background-color: #eee;
}
.tbl_menus_list td {
    height: 30px;
}
.tbl_menus_list td:nth-child(4){
    width: 30%;
}

/* 메뉴정보 div */
#menus-form {
    margin: 10px 30px 20px;
    width: 90%;
    display: inline-block;
    /*border: 1px solid #ccc;*/
    border-collapse: collapse;
    font-size: 11px;
}
#menus-form tr {
    border: 1px solid #ccc;
}
#menus-form th {
    padding: 5px;
    width: 300px;
    background-color: #eee;
}
.txt_box {
    padding: 0 3px;
    height: 25px;
    border: none;
}
.btn_group {
    margin: -10px 30px 20px;
    width: 60%;
    text-align: right;
}
.btn_set {
    padding: 5px 8px;
}

/* 제품관리 화면 */
 #tbl-product {
    width: 90%;
    border: 1px solid #ccc;
    border-collapse: collapse;
}
#tbl-product th {
    padding: 10px;
    width: 20%;
    border-right: 1px solid #ccc;
}
#tbl-product td {
    padding: 5px 10px;
}
.txt_prod_form {
    width: 99%;
    height: 23px;
}
#prod-info {
    width: 90%;
    height: 500px;
}
#btn-wrapper {
    width: 90%;
    text-align: right;
}
.btn_prod_form {
    margin-top: -2px;
    padding: 0 10px;
    height: 28px;
    vertical-align: middle;
    border: 1px solid #ccc;
}