/* 초기화 */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}

/* 요소자리잡기 */
#container {
    font-size: 12px;
}
#top-navi {
    height: 90px;
    background-color: #009EDF;
}
#mid-navi {
    height: 25px;
    background-color: black;
}
#mid-navi > span{
    width: 15%;
    display: inline-block;
    color: white;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
}
#mid-navi > span:nth-child(2) {
    width: 100px;
    background-color: #ccc;
}
#side-navi {
    float: left;
    margin: 0;
    width: 15%;
    height: 100%;
    min-height: 800px;
    font-size: 15px;
    background-color: #ccc;
}
#side-menus {
    padding: 5px;
    line-height: 35px;
    list-style: none;
    text-align: center;
    background-color: #ccc;
}
.side_menu {
    border-bottom: 1px solid white;
}
.side_menu:hover {
    background-color: #ececec;
}
.side_menu:nth-child(1){
    border-top: 1px solid white;
}
#contents {
    float: left;
    padding: 30px;
}
#footer {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    background-color: black;
}

/* 그 외 */
a, a:visited {
    text-decoration: none;
}

.summary {
    width: 300px;
    height: 100px;
    border: 1px solid #ccc;
}