/* 초기화 */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}

/* 요소자리잡기 */
#container {
    font-size: 12px;
}
#top-navi {
    height: 90px;
    background-color: #009EDF;
}
#mid-navi {
    height: 25px;
    background-color: black;
}
#mid-navi > span{
    width: 15%;
    display: inline-block;
    color: white;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
}
#mid-navi > span:nth-child(2) {
    width: 100px;
    background-color: #ccc;
}

#wrapper {
    width: 100%;
    position: relative;
}
#side-navi {
    float: left;
    width: 15%;
    height: 100%;
    min-height: 800px;
    position: absolute;
    font-size: 15px;
    background-color: #ccc;
}
#contents {
    margin-left: 16%;
    padding-top: 20px;
    width: auto;
    height: 100%;
    min-height: 800px;
}
#side-menus {
    padding: 5px;
    line-height: 35px;
    list-style: none;
    text-align: center;
    background-color: #ccc;
}
.side_menu {
    border-bottom: 1px solid white;
}
.side_menu:hover {
    background-color: #ececec;
}
.side_menu:nth-child(1){
    border-top: 1px solid white;
}
#footer {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    background-color: black;
}

/* 그 외 */
a, a:visited {
    color: black;
    text-decoration: none;
}

.summary {
    margin: 10px;
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
}

/* 메뉴관리 화면 */
#tree-menus {
    padding: 10px;
    float: left;
    width: 20%;
    display: inline-block;
    border: 1px solid #ccc;
}
#menu-parent-form {
    padding: 10px;
    margin-left: 30px;
    display: inline-block;
    border: 1px solid #ccc;
}
#menu-child-form {
    padding: 10px;
    margin-left: 30px;
    display: inline-block;
    border: 1px solid #ccc;
}
.txt_box {
    padding: 0 3px;
    height: 25px;
}
#menu-parent-form > p {
    line-height: 35px;
}
#menu-child-form > p {
    line-height: 35px;
}
span.txt_label {
    width: 70px;
    text-align: center;
    display: inline-block;
}
.btn_group {
    padding: 5px 10px;
    vertical-align: middle;
}
