@{
    ViewBag.Title = "Main";
    Layout = "~/Views/_Layouts/MainLayout.cshtml";
}

<h2>Main</h2>

<div class="wrapper">
    <div id="notice">공지사항</div><div id="estimate">견적서</div>
</div>

<div class="wrapper">
    <div id="popular-prod">
        [인기상품] <br />
        1.다음에디터 심고, 공지사항 먼저 완성<br />
        2.https://www.navimro.com/ 사이트참고<br />
        3.관리자모드 화면설계
    </div>
</div>
