@{
    ViewBag.Title = "Notice";
    Layout = "~/Views/_Layouts/MainLayout.cshtml";
}


<form action="/Customer/OnSubmit/Edit/@Model.No" method="post">
    <input type="hidden" name="bbsId" value="Notice" />
    <input type="hidden" name="author" value="@Session["userId"]" />
    <table border="1" id="tbl-editor-form">
        <tr>
            <th>제목</th>
            <td><input type="text" name="subject" id="bbs-subject" class="bbs_subject" value="@Model.Subject" /></td>
        </tr>
        <tr>
            <th>내용</th>
            <td>
                <textarea name="contents" id="bbs-contents" rows="10" cols="100" style="width:99%; height:500px; display:none;">@Model.Contents</textarea>
                <!--textarea name="bbs-contents" id="bbs-contents" rows="10" cols="100" style="width:100%; height:412px; min-width:610px; display:none;"></textarea-->
                <p>
                    <input type="button" onclick="pasteHTML();" value="본문에 내용 넣기" />
                    <input type="button" onclick="showHTML();" value="본문 내용 가져오기" />
                    <input type="button" onclick="submitContents(this);" value="서버로 내용 전송" />
                    <input type="button" onclick="setDefaultFont();" value="기본 폰트 지정하기 (궁서_24)" />
                </p>
            </td>
        </tr>
    </table>
</form>

<div class="btn_group">
    <input type="button" onclick="saveContent()" class="btn_submit btn_confirm" value="확인" />
    <input type="reset" onclick="resetContents()" class="btn_reset btn_confirm" value="취소" />
</div>

<script type="text/javascript" src="~/Common/plugin/SmartEditor/js/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var menus = [];
        var k = 0;

        $.ajax({
            url: '/Almighty/GetSubMenus',
            success: function (data) {
                $.each(data, function (i, val) {
                    menus[k] = '<option value="' + val.Code + '">' + val.Name + '</option>';
                    k++;
                });
                $('#prod-gb').html(menus).trigger('create');
            },
            error: function (xhr, error, status) {
                alert(xhr + ":" + error + ":" + status + ":" + typeof (code));
            }
        });
    });

    var oEditors = [];

    // 추가 글꼴 목록
    //var aAdditionalFontSet = [["MS UI Gothic", "MS UI Gothic"], ["Comic Sans MS", "Comic Sans MS"],["TEST","TEST"]];

    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "bbs-contents",
        sSkinURI: "/Common/plugin/SmartEditor/SmartEditor2Skin.html",
        htParams: {
            bUseToolbar: true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
            bUseVerticalResizer: true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
            bUseModeChanger: true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
            //aAdditionalFontList : aAdditionalFontSet,		// 추가 글꼴 목록
            fOnBeforeUnload: function () {
                //alert("완료!");
            }
        }, //boolean
        fOnAppLoad: function () {
            //예제 코드
            //oEditors.getById["bbs-contents"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
        },
        fCreator: "createSEditor2"
    });

    function pasteHTML() {
        var sHTML = "<span style='color:#FF0000;'>이미지도 같은 방식으로 삽입합니다.<\/span>";
        oEditors.getById["bbs-contents"].exec("PASTE_HTML", [sHTML]);
    }

    function showHTML() {
        var sHTML = oEditors.getById["bbs-contents"].getIR();
        alert(sHTML);
    }

    function submitContents(elClickedObj) {
        oEditors.getById["bbs-contents"].exec("UPDATE_CONTENTS_FIELD", []);	// 에디터의 내용이 textarea에 적용됩니다.

        // 에디터의 내용에 대한 값 검증은 이곳에서 document.getElementById("bbs-contents").value를 이용해서 처리하면 됩니다.

        try {
            elClickedObj.form.submit();
        } catch (e) { }
    }

    function setDefaultFont() {
        var sDefaultFont = '궁서';
        var nFontSize = 24;
        oEditors.getById["bbs-contents"].setDefaultFont(sDefaultFont, nFontSize);
    }

    // 수정모드에서 취소 버튼 눌렀을 때 경고
    function resetContents(editor) {
        var subject = document.getElementById('bbs-subject');
        var c = confirm('수정된 내용이 저장되지 않습니다. 계속 진행 하시겠습니까?');

        if (c == true) {
            location.href = parent.document.referrer;
        } else {
            return false;
        }
    }
</script>