@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Common/Styles/BruceAlmightyStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/Common/plugin/Editor/css/editor.css" />
    <script src="~/Common/plugin/Editor/js/editor_loader.js" type="text/javascript"></script>
    <script src="~/Common/plugin/jquery-1.11.3.min.js"></script>
    <title>AlmightyLayout</title>
</head>
<body>
    <div id="container">
        <div id="top-navi">

        </div>
        <div id="mid-navi">
            <span>Bruce ALMIGHTY</span><span><a href="/">첫화면으로</a></span>
        </div>
        <div id="wrapper">
            <div id="side-navi">
                <br />
                <ul id="side-menus">
                    <li class="side_menu"><a href="/Almighty">관리자모드</a></li>
                    <li class="side_menu"><a href="/Almighty/ManageMenu">메뉴관리</a></li>
                    <li class="side_menu"><a href="/Almighty/ManageUser">사용자관리</a></li>
                    <li class="side_menu"><a href="/Almighty/Products">제품관리</a></li>
                </ul>
            </div>
            <div id="contents">

                @RenderBody()

            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</body>
</html>
