@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Common/Styles/BruceAlmightyStyle_tbl.css" />
    <title>AlmightyLayout</title>
</head>
<body>
    <div id="container">
        <div id="top-navi">

        </div>
        <div id="mid-navi">
            <span>Bruce ALMIGHTY</span><span><a href="/">첫화면으로</a></span>
        </div>
        <table id="tbl-body">
            <tr>
                <td id="side-navi">
                    <br />
                    <ul id="side-menus">
                        <li class="side_menu"><a href="/Almighty/ManageMenu">메뉴관리</a></li>
                        <li class="side_menu"><a href="/Almighty/ManageUser">사용자관리</a></li>
                        <li class="side_menu"><a href="/Almighty/ProductUp">제품업로드</a></li>
                    </ul>
                </td>
                <td id="contents">
                    @RenderBody()
                </td>
            </tr>
        </table>
        <div id="footer">

        </div>
    </div>
</body>
</html>
