@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Common/Styles/BaseStyle.css" />
    <script src="~/Common/Scripts/plugin/jquery-1.11.3.min.js"></script>
    <script src="~/Common/Scripts/MenuScript.js"></script>
    <script src="~/Common/Scripts/LoginScript.js"></script>
    <title>MainLayout</title>
</head>
<body>
    <div id="container">
        <div id="top-navi">
            <div class="width_guide">
                @if (null != @Session["UserName"])
                {
                    <span class="btn_span"><a href="/">@Session["UserName"]</a>&nbsp;&nbsp;&nbsp;</span>
                    <span id="btn-logout" class="btn_span">로그아웃</span>
                }
                else
                {
                    <span class="btn_span"><a href="/Home/Login">로그인</a></span>
                }
            </div>
        </div>
        <div id="mid-navi">
            <div class="width_guide">
                <div id="search-area">
                    <input type="text" name="searchWord" id="search-word" /><button type="button" id="search-btn">Search</button>
                </div>
                <div id="menus-area">
                    <ul id="main-menus">

                    </ul>
                </div>
            </div>
        </div>
        <div id="contents">
            @RenderBody()
        </div>
        <div id="footer">

        </div>
    </div>
</body>
</html>
